<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sorios-001-site1.etempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win5248.site4now.net:8172/msdeploy.axd?site=sorios-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>sorios-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>sorios-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="WatchShopDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=SQL5080.site4now.net;Initial Catalog=db_a90318_watchshopdata;Persist Security Info=True;User ID=db_a90318_watchshopdata_admin;Password=Hungproalo123" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DoAn_LapTrinhWeb.DbContext, DoAn_LapTrinhWeb" MigrationConfiguration="DoAn_LapTrinhWeb.Migrations.Configuration, DoAn_LapTrinhWeb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="WatchShopDbContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL5080.site4now.net;Initial Catalog=db_a90318_watchshopdata;Persist Security Info=True;User ID=db_a90318_watchshopdata_admin;Password=Hungproalo123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>